In [945]:
import pandas as pd
from sklearn.impute import SimpleImputer

### Importing the dataset

In [946]:
import chardet

# Read the file in binary mode
with open('/Users/mabuhannood/Downloads/Project/Orders.csv', 'rb') as file:
    result = chardet.detect(file.read())
print(result['encoding'])

df = pd.read_csv('/Users/mabuhannood/Downloads/Project/Orders.csv', encoding=result['encoding'])

Windows-1252

### Data Preprocessing

- Check the shape of the dataframe

In [947]:
df.shape

(1280, 33)

- Check the description of the dataframe

In [948]:
df.describe()

,Sales Order ID,Order Amount,Project Country,Production Units Type,Next Requested Ship Date,Expiry Date,Awarded Contractors,Project type,Priority#,OA - Invoice,Project Spec,Rolls Ordered,Est. Extended Cost (Line),Unnamed: 30,Unnamed: 31,Unnamed: 32
count,1.280000e+03,1280.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.000000,0.0,1280.000000,1280.000000,0.0,0.0,0.0
mean,9.875728e+06,8048.154992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.000000,NaN,80.624219,4837.344266,NaN,NaN,NaN
std,7.113035e+06,10376.140182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1281.739889,NaN,110.613140,6947.535087,NaN,NaN,NaN
min,3.914340e+05,-336.440000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,1.000000,0.000000,NaN,NaN,NaN
25%,2.995697e+06,1166.147500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.000000,NaN,11.000000,593.470000,NaN,NaN,NaN
50%,9.283697e+06,4056.415000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2500.000000,NaN,36.000000,2172.245000,NaN,NaN,NaN
75%,1.507399e+07,11387.307500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.000000,NaN,107.750000,6238.195000,NaN,NaN,NaN
max,2.452849e+07,150375.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.000000,NaN,2005.000000,107708.190000,NaN,NaN,NaN

- Display dataset

In [949]:
df.head()

,Sales Order ID,Sales Order Name,Date Created,Order Name,Item,Memo,Order Amount,Employee Name,Project Use Type,Project Country,...,Rolls Ordered,Est. Extended Cost (Line),Sales Region,Subsidiary,Customer Requested Ship Date,Actual Ship Date,Parent Record,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,391434,S007092,02-Jan-2018,Going Green Flooring Maintenance & Design,RST02,GenieMat RST02 \nSound Control Underlayment \n...,3490.48,NaN,NaN,NaN,...,32,1448.16,NaN,Pliteq Consolidated : Pliteq Inc.,NaN,02-Jan-2018,NaN,NaN,NaN,NaN
1,391451,S007094,02-Jan-2018,Florida Carpet Service,RST02,GenieMat RST02 \nSound Control Underlayment \n...,3490.48,NaN,NaN,NaN,...,32,1448.16,NaN,Pliteq Consolidated : Pliteq Inc.,NaN,15-Feb-2018,NaN,NaN,NaN,NaN
2,391461,S007095,02-Jan-2018,XSS Hotels,RST02,GenieMat RST02 \nSound Control Underlayment \n...,1308.93,NaN,NaN,NaN,...,12,543.06,NaN,Pliteq Consolidated : Pliteq Inc.,NaN,03-Jan-2018,NaN,NaN,NaN,NaN
3,393955,S007105,03-Jan-2018,ACME BRICK COMPANY,RST02,GenieMat RST02 \nSound Control Underlayment \n...,36609.13,NaN,NaN,NaN,...,336,15205.71,NaN,Pliteq Consolidated : Pliteq Inc.,NaN,03-Jan-2018,NaN,NaN,NaN,NaN
4,397228,S007111,04-Jan-2018,Vector Concepts,RST02,GenieMat RST02 \nSound Control Underlayment \n...,1141.87,Pat Reid,GenieMat FIT Only,NaN,...,8,362.04,South/Texas,Pliteq Consolidated : Pliteq Inc.,NaN,07-Mar-2018,E003442,NaN,NaN,NaN

- Check the data frame informations

In [950]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1280 entries, 0 to 1279
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sales Order ID                1280 non-null   int64
 1   Sales Order Name              1280 non-null   object
 2   Date Created                  1280 non-null   object
 3   Order Name                    1280 non-null   object
 4   Item                          1280 non-null   object
 5   Memo                          1280 non-null   object
 6   Order Amount                  1280 non-null   float64
 7   Employee Name                 1131 non-null   object
 8   Project Use Type              1129 non-null   object
 9   Project Country               0 non-null      float64
 10  Production Units Type         0 non-null      float64
 11  Next Requested Ship Date      0 non-null      float64
 12  Expiry Date                   0 non-null      float64
 13  Awarded Contractors           0 non-null      float64
 14  Sold to distributor           1280 non-null   object
 15  Project type                  0 non-null      float64
 16  50% Deposit received          1280 non-null   object
 17  Deposit Date                  37 non-null     object
 18  Priority#                     0 non-null      float64
 19  OA - Invoice                  8 non-null      float64
 20  Certified                     1280 non-null   object
 21  DPE Specification Category    3 non-null      object
 22  Project Spec                  0 non-null      float64
 23  Rolls Ordered                 1280 non-null   int64
 24  Est. Extended Cost (Line)     1280 non-null   float64
 25  Sales Region                  1086 non-null   object
 26  Subsidiary                    1280 non-null   object
 27  Customer Requested Ship Date  251 non-null    object
 28  Actual Ship Date              1245 non-null   object
 29  Parent Record                 343 non-null    object
 30  Unnamed: 30                   0 non-null      float64
 31  Unnamed: 31                   0 non-null      float64
 32  Unnamed: 32                   0 non-null      float64
dtypes: float64(14), int64(2), object(17)
memory usage: 330.1+ KB

- Check for the Null values in the dataframe

In [951]:
#checking for null/missing values
df.isnull().sum()

Sales Order ID                     0
Sales Order Name                   0
Date Created                       0
Order Name                         0
Item                               0
Memo                               0
Order Amount                       0
Employee Name                    149
Project Use Type                 151
Project Country                 1280
Production Units Type           1280
Next Requested Ship Date        1280
Expiry Date                     1280
Awarded Contractors             1280
Sold to distributor                0
Project type                    1280
50% Deposit received               0
Deposit Date                    1243
Priority#                       1280
OA - Invoice                    1272
Certified                          0
DPE Specification Category      1277
Project Spec                    1280
Rolls Ordered                      0
Est. Extended Cost (Line)          0
Sales Region                     194
Subsidiary                         0
Customer Requested Ship Date    1029
Actual Ship Date                  35
Parent Record                    937
Unnamed: 30                     1280
Unnamed: 31                     1280
Unnamed: 32                     1280
dtype: int64

- Drop columns with excessive missing values

In [952]:
columns_to_drop = [
    'Project Country', 'Production Units Type', 'Next Requested Ship Date', 'Expiry Date',
    'Awarded Contractors', 'Project type', 'Deposit Date','Priority#', 'OA - Invoice', 'DPE Specification Category',
    'Project Spec', 'Customer Requested Ship Date', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32'
]
df = df.drop(columns=columns_to_drop, axis=1, errors='ignore')

- Identify numerical and categorical columns

In [953]:
# Identify numerical columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
print("Numerical Columns:", numerical_cols.tolist())

# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
print("Categorical Columns:", categorical_cols.tolist())

Numerical Columns: ['Sales Order ID', 'Order Amount', 'Rolls Ordered', 'Est. Extended Cost (Line)']
Categorical Columns: ['Sales Order Name', 'Date Created', 'Order Name', 'Item', 'Memo', 'Employee Name', 'Project Use Type', 'Sold to distributor', '50% Deposit received', 'Certified', 'Sales Region', 'Subsidiary', 'Actual Ship Date', 'Parent Record']

- Handle missing values

In [954]:
# Median is chosen for imputation as it is robust to outliers in the data.
num_imputer = SimpleImputer(strategy='median')
df[numerical_cols] = num_imputer.fit_transform(df[numerical_cols])

# Missing categorical values are replaced with 'unknown' to signify lack of data.
cat_imputer = SimpleImputer(strategy='constant', fill_value='NA')
df[categorical_cols] = cat_imputer.fit_transform(df[categorical_cols])

- Convert date columns to datetime format

In [955]:
df['Date Created'] = pd.to_datetime(df['Date Created'], errors='coerce')
df['Actual Ship Date'] = pd.to_datetime(df['Actual Ship Date'], errors='coerce')

In [956]:
nat_counts = {date_col: df[date_col].isnull().sum() for date_col in ['Date Created', 'Actual Ship Date']}
print("Rows with Missing Dates (NaT):")
for col, count in nat_counts.items():
    print(f"{col}: {count} rows")

Rows with Missing Dates (NaT):
Date Created: 2 rows
Actual Ship Date: 44 rows

In [957]:
# Drop rows with NaT in any of the date columns
df = df.dropna(subset=['Date Created', 'Actual Ship Date'])

In [958]:
nat_counts = {date_col: df[date_col].isnull().sum() for date_col in ['Date Created', 'Actual Ship Date']}
print("Rows with Missing Dates (NaT):")
for col, count in nat_counts.items():
    print(f"{col}: {count} rows")

Rows with Missing Dates (NaT):
Date Created: 0 rows
Actual Ship Date: 0 rows

In [959]:
# Drop rows where 'Actual Ship Date' is before 'Date Created' might indicate a wrong entry
if 'Actual Ship Date' in df.columns and 'Date Created' in df.columns:
    invalid_ship_date_count = df[df['Actual Ship Date'] < df['Date Created']].shape[0]
    print(f"Number of rows with 'Actual Ship Date' before 'Date Created': {invalid_ship_date_count}")
    df = df[df['Actual Ship Date'] >= df['Date Created']]
    print("Rows with 'Actual Ship Date' before 'Date Created' have been dropped.")

Number of rows with 'Actual Ship Date' before 'Date Created': 1
Rows with 'Actual Ship Date' before 'Date Created' have been dropped.

In [960]:
# Extract numerical components (year, month, day) from dates
df['Date Created Year'] = df['Date Created'].dt.year
df['Date Created Month'] = df['Date Created'].dt.month
df['Date Created Day'] = df['Date Created'].dt.day

df['Actual Ship Date Year'] = df['Actual Ship Date'].dt.year
df['Actual Ship Date Month'] = df['Actual Ship Date'].dt.month
df['Actual Ship Date Day'] = df['Actual Ship Date'].dt.day

# Drop original date columns
df = df.drop(columns=['Date Created', 'Actual Ship Date'])

- Negative order amount

In [961]:
# Check for negative Order Amount values (Might indicate returns)
negative_values = df[df['Order Amount'] < 0]
print(f"Number of rows with negative Order Amount: {negative_values.shape[0]}")

Number of rows with negative Order Amount: 1

- Clean text in Memo column

In [962]:
# Replace line breaks with a space
df['Memo'] = df['Memo'].str.replace('\n', ' ', regex=True)

- Drop irrelevant columns

In [963]:
unique_counts = df.nunique()
print(unique_counts)

Sales Order ID                976
Sales Order Name              976
Order Name                    226
Item                            1
Memo                          360
Order Amount                 1008
Employee Name                  17
Project Use Type                9
Sold to distributor             1
50% Deposit received            2
Certified                       1
Rolls Ordered                 154
Est. Extended Cost (Line)    1048
Sales Region                   19
Subsidiary                      1
Parent Record                 247
Date Created Year               6
Date Created Month             12
Date Created Day               31
Actual Ship Date Year           6
Actual Ship Date Month         12
Actual Ship Date Day           31
dtype: int64

In [964]:
# The following columns are dropped because they are identifiers or provide no meaningful information for predictive analysis:
df = df.drop(['Sales Order ID', 'Order Name', 'Item', 'Employee Name', 'Sold to distributor', '50% Deposit received', 'Certified', 'Subsidiary'], axis=1, errors='ignore')

In [965]:
# Save cleaned data
cleaned_data_path = 'Orders_Cleaned.csv'
df.to_csv(cleaned_data_path, index=False)
print(f"Cleaned data saved to {cleaned_data_path}")

Cleaned data saved to Orders_Cleaned.csv

In [966]:
df.head()

,Sales Order Name,Memo,Order Amount,Project Use Type,Rolls Ordered,Est. Extended Cost (Line),Sales Region,Parent Record,Date Created Year,Date Created Month,Date Created Day,Actual Ship Date Year,Actual Ship Date Month,Actual Ship Date Day
0,S007092,GenieMat RST02 Sound Control Underlayment 30...,3490.48,NA,32.0,1448.16,NA,NA,2018,1,2,2018,1,2
1,S007094,GenieMat RST02 Sound Control Underlayment 30...,3490.48,NA,32.0,1448.16,NA,NA,2018,1,2,2018,2,15
2,S007095,GenieMat RST02 Sound Control Underlayment 30...,1308.93,NA,12.0,543.06,NA,NA,2018,1,2,2018,1,3
3,S007105,GenieMat RST02 Sound Control Underlayment 30...,36609.13,NA,336.0,15205.71,NA,NA,2018,1,3,2018,1,3
4,S007111,GenieMat RST02 Sound Control Underlayment 30...,1141.87,GenieMat FIT Only,8.0,362.04,South/Texas,E003442,2018,1,4,2018,3,7